.cards{
    display: flex;
    justify-content: start;
    margin: 50px auto;
    gap: 30px;
    border: 2px solid rgb(211, 27, 27);
    width: 70%;
    padding: 20px;
}

.cards div img{
    border: 2px solid black;
    height: 100px;
    border-radius: 10%;
}

.descriptionCard{
    border: 2px solid black;
    width: 70%;
}

.addAndRemove{
    display: flex;
    width: 100px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}